*{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing:  border-box;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: rgb(173, 173, 173);
    height: 16%;
}

.main{
    height: 60vh;
    background-color: aqua;
}

.section{
    height: auto;
}

.innerElements{
    height: 20vh;
}

.article1{
    background-color: crimson;
}

.article2{
    background-color: rgb(206, 143, 76);
}

.aside{
    background-color: rgb(242, 204, 36);
}

footer{
    background-color: rgb(149, 149, 149);
    height: 16%;
}

@media only screen and (min-width : 429px){
    .main{
        display: flex;
        flex-direction: row;
        /* flex: 1 208px; */
    }
    .section{
        flex: 1 50%;
    }
    .article{
        height:50%;
    }
    .aside{
        height: 100%;
        width:50%;
        flex:1 50%;
    }
}

@media only screen and (min-width: 811px){
    .section{
        flex: 1 405px;
    }
    .aside{
        flex:0 404px;
    }
}