*{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing:  border-box;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: rgb(173, 173, 173);
    height: 16%;    
}

.main{
    height: 60vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.section1{
    /* height: 50%; */
    flex : 1 50%;
    background-color: rgb(141, 199, 55);
}

.section2{
    flex: 1 25%;
    background-color: green;
}

.section3{
    flex: 1 25%;
    background-color: yellow;
}

footer{
    background-color: rgb(149, 149, 149);
    height: 16%;
}

@media only screen and (min-width : 429px){
    .main{
        flex-direction: row;
        flex-wrap: wrap;
    }
    section{
        height: 50%;
    }
    .section1{
        flex: 1 100%;
    }
    .section2{
        flex:1 50%;
    }
    .section3{
        flex:1 50%;
    }
}

@media only screen and (min-width: 811px){
    .section{
        flex-wrap:  nowrap; 
    }
    section{
        height: 100%;
    }
    .section1{
        flex: 1 50%;
        order: 2;
    }
    .section2{
        flex:1 25%;
        order: 1;
    }
    .section3{
        flex:1 25%;
        order: 3;
    }
}